.navigationBar-container {
  border-bottom: 1px solid gray;
}

.bank-thumbnail-button {
  width: 100%;
  min-height: 120px;
  background-color: whitesmoke;
  border: 2px solid lightblue;
  margin-bottom: 30px;
}

.bank-thumbnail-button:hover {
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0,0,0,1);
  box-shadow: 7px 7px 23px -13px rgba(0,0,0,1);
}
.sidebar {
  width: 300px;
  border: 1px solid gray;
  height: calc(100vh - 152px);
}
.sidebar-item {
  width: 100%;
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
  font-weight: bold;
  height: 50px;
}
.app-body-form {
  display: flex;
}

.breadcrumb {
  background-color: #fff;
}

.myReports-table-row {
  cursor: pointer;
}
.myReports-title {
  margin: 20px 0;
  font-weight: bold;
}
.form-group.row {
  padding: 5px;
}
.form-group.row:hover {
  background-color: #f8f9fa;
}
.col-form-label {
  padding-top: 0;
}
.subFormContainer {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow: hidden;
  margin: 20px 0;
}

.subFormContainer-header {
  display: flex;
    justify-content: space-between;
    padding: 0 5px;
}