<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RAS Anasayfa</a>
</nav>

<div style="margin-top: 30px">
  <a class="btn btn-primary btn-lg active" href="/login">Giriş</a>
</div>