<div class="row justify-content-md-center" style="margin-top: 100px">
  <div class="col-md-6">

    {{#if message}}
    <div class="alert {{messageClass}}" role="alert">
      {{message}}
    </div>
    {{/if}}

    <form method="POST" action="/login">
      <div class="form-group">
        <label for="usernameInput">Kullanıcı Adı</label>
        <input name="username" type="text" class="form-control" id="usernameInput" placeholder="Kullanıcı adı">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Şifre</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
      </div>
      <button type="submit" class="btn btn-primary">Giriş</button>
    </form>
  </div>
</div>